.*
!.gitignore
!.travis.yml
!.flake8
/*.png
custom_matrix_frequencies.txt
*.pyc
*.pyo
*.so
*slurm*
.DS_Store
._*
docs/_build/
docs/_template/
docs/phydmslib.*
build/
*.sbatch
*.swp
*.log
dist/
phydms.egg-info/
*(busy)
examples
*.c
