include LICENSE.txt
include CHANGELOG.rst
include docs/*.rst
include docs/*.pdf
include docs/*.py
include docs/Makefile
include docs/*.txt
include tests/*
recursive-include phydmslib *.rst *.pyx *.h __*

global-exclude *.so
global-exclude *.pyc
global-exclude .git*
global-exclude ._*
global-exclude slurm-*
global-exclude *.sbatch
