include LICENSE.txt
include CHANGELOG.rst
include docs/*.rst
include docs/*.pdf
include docs/*.py
include docs/Makefile
include docs/*.txt

global-exclude *.so
global-exclude *.pyc
global-exclude .git*
